*{font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    margin-left: 0;
    margin-right: 0;
    background-color: #FF7A00;
}

header {
    background-image: url('image/bg22.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 839px;
    width: revert;
    padding: 0 100px;
    margin-left: 0px;
      }
.container{
    width:100%;
    margin: 0;
    padding:0;
    margin: auto;
}
.menu-bar{
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo{
    display:flex;
    align-items: center;
    margin-right: 35px;
    justify-content: flex-start;
}
.logo img{
    width: 300px;
    height: 98;
    padding-right: 30px;
    border-top-left-radius:0px;
    margin-top: -13px;
}

.menu ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    list-style-type: none;
}
.menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 550;
    line-height: 19px;
    text-transform: uppercase;
}
.menu-right{
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
}

.btn.btn-primary{
    background-color: #ffffff;
    color: #ff7a00;
    padding:10px 15px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 0px;
    margin-top: -11px;
    margin-right: 50spx;
}

/* hero section */

.upimg{
    background-image: url(image/sky.png);
    height: 530px;
    width: 530px;
    background-size: cover;
    position: absolute;
    right: 0;
    margin-block: -48px;
    margin-right: 90px;
    background-repeat: no-repeat;
     
}
.title{
    text-align: left;
    color: #ffffff;
    margin: 1px;
    margin-block: 32px;
    font-size: 98px;
    
    
}

.sub{
    text-align: left;
   font-size: 22px; 
   color:rgb(255, 255, 255);
   padding-left: 1px;
   padding-right: 1px;
   padding-top: 15px;
   padding-bottom: 10px;
}

.topd{
    text-align: center;
    font-size: 22px;
    color: white;
    margin: 0%;
    padding-top: 175px;
}

.dd{
    text-align: center;
    font-size: 65px;
    color: white;
    font-family: merriweather;
    margin: 0%;
}


/*top des*/


h3{
    text-align: left;
    font-size: 36px;
    margin: 0;
    padding-top: 2px;
    color:white;
    margin-left: 5px;
}

 
a{
    text-decoration: none;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 12px 0;
}

.content{
    width: 282px;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    font-family: poppins;
    border-bottom-right-radius: 36px;
    border-top-left-radius: 36px;
    cursor: pointer;
    padding-top: 0px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    transition: .4s;
    background:rgba(0,0,0,48%)
}

.content:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),
    0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px, -8px);
}

img{
    width: 282px;
    text-align: center;
    margin: 0 auto;
    display: block;
    border-top-left-radius: 36px;
}

ul{
    list-style: none;
    display: flex;
    justify-content: left;
    padding-left: 5px;
    margin-top: -21px;
    margin-bottom: 7px;
    font-size: 30px;
    color: #8f8a8a;
}

li{
    padding-top: 5px;
}

.fa{
    font-size: 20px;
    transform: .4s;
    margin: 3px;
}

.checked{
    color: #FF7A00;
}

/*catagory section*/

.category0{
    background-color: white;
    width: 1400px;
    height: 660px;
    border-radius: 36px;
    margin-top: 15px;
    margin-left: 55px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    justify-content: center;
}

.tmid{
    margin-top: 425px;
    text-align: center;
    font-size: 48px;
    color: white;
    margin-bottom: 15px;
}

/*catagory images*/

.inside-box{
    width: 275px;
    height: 215px;
    background-color: black;
    display:flex;
    border-radius: 36px;
    margin-block: 1px;
    margin-right: 1px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.inside-box2{
    width: 275px;
    height: 438px;
    background-color:black;
    display:flex;
    border-radius: 36px;
    margin-block: 1px;
    margin-right: 1px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.inside-box3{
    width: 275px;
    height: 330px;
    background-color: black;
    display:flex;
    border-radius: 36px;
    margin-block: 1px;
    margin-right: 1px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.inside-box4{
    width: 275px;
    height: 330px;
    background-color: black;
    display:flex;
    border-radius: 36px;
    margin-block: 1px;
    margin-right: 1px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.inside-box5{
    width: 275px;
    height: 210px;
    background-color: black;
    display:flex;
    border-radius: 36px;
    margin-block: -217px;
    margin-right: 854px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.inside-box6{
    width: 565px;
    height: 175px;
    background-color: black;
    display:flex;
    border-radius: 36px;
    margin-block: 0px;
    margin-right: 1px;
    margin-left: -17px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.inside-box7{
    width: 560px;
    height: 285px;
    background-color: black;
    display:flex;
    border-radius: 36px;
    margin-block: -110px;
    margin-right: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.inside-box:nth-child(1){
    background-image: url(events/wild.jpg);
    background-size: cover;
  }

.inside-box2:nth-child(2){
    background-image: url(events/waterfall.jpg);
    background-size: cover;
  }

.inside-box3:nth-child(3){
    background-image: url(events/hiking.jpg);
    background-size: cover;
  }

.inside-box4:nth-child(4){
    background-image: url(events/photogrf.jpg);
    background-size: cover;
  }

.inside-box5:nth-child(5){
    background-image: url(events/scubd.webp);
    background-size: cover;
  }

.inside-box6:nth-child(6){
    background-image: url(events/surf.jpg);
    background-size: cover;
  }

.inside-box7:nth-child(7){
    background-image: url(events/fest.jpg);
    background-size: cover;
  }

  .box-overlay{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #000;
      border-radius: 36px;
      opacity: 0.1;
      transition: all ease-in-out 200ms;
  }
  
.inside-box:hover .box-overlay {
    opacity: 0.55;
}
.inside-box2:hover .box-overlay {
    opacity: 0.55;
}
.inside-box3:hover .box-overlay {
    opacity: 0.55;
}
.inside-box4:hover .box-overlay {
    opacity: 0.55;
}
.inside-box5:hover .box-overlay {
    opacity: 0.55;
}
.inside-box6:hover .box-overlay {
    opacity: 0.55;
}
.inside-box7:hover .box-overlay {
    opacity: 0.55;
}

h2{
    color: #ffffff;
    line-height: 28PX;
    text-shadow: -2px 2px 4px #000;
    z-index: 100;
}

