*{font-family: 'Poppins', sans-serif;
}

body {
    background-image: url('image/bgh.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
.container{
    width:80%;
    margin: 0;
    padding:0;
    margin: auto;
}
.menu-bar{
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo{
    display:inline-block;
    margin-right: 35px;
}
.logo img{
    width: 300px;
    height: 98;
    padding-right: 30px;
}
.menu ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    list-style-type: none;
}
.menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 550;
    line-height: 19px;
    text-transform: uppercase;
}
.menu-right{
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
}

.btn.btn-primary{
    background-color: #ffffff;
    color: #ff7a00;
    padding:10px 15px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    
}