*{font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(image/bg.jpg);
    width: 1440px;
    height: 3000px;
  }
.container{
    width:80%;
    margin: 0;
    padding:0;
    margin: auto;
}
.menu-bar{
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.logo{
    display:inline-block;
    margin-right: 35px;
}
.logo img{
    width: 300px;
    height: 98;
    padding-right: 30px;
}
.menu ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    list-style-type: none;
}
.menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 550;
    line-height: 19px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}